* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

hr {
    margin: 10px 0;
}

/* body {
    height: 100vh;
    cursor: none;
} */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.cursor {
    position: fixed;
    opacity: 1;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(230, 88, 60);
    transition: transform 1s ease;
    transform: translate(-50%, -50%) scale(.8);
    z-index: 1000;
    color: #ffffff;
}

.cursor--link {
    transform: translate(-50%, -50%) scale(4);
}

.cursor--logo {
    transform: translate(-50%, -50%) scale(3);
}

.cursor--home {
    transform: translate(-50%, -50%) scale(8);
}

.Theme {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 300px;

}

.darkTheme {
    background-color: #111;
    color: antiquewhite;
}

.logoContainer {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 3.5rem;
    top: 3.2rem;
    margin: auto;
}

.logo {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 3.5rem;
    top: 3.2rem;
    margin: auto;
    z-index: 2;
    background-color: rgb(170, 159, 145);
    clip-path: polygon(0 100%, 2% 95%, 10% 92%, 33% 65%, 80% 4%, 100% 0, 92% 15%, 93% 90%, 100% 100%, 78% 100%, 80% 75%, 57% 69%, 80% 63%, 76% 30%, 45% 70%, 75% 83%, 40% 75%, 30% 90%, 35% 100%);
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.638) inset; */
    border-bottom: 1px solid rgba(255, 188, 188, 0.851);
    box-sizing: 0 0 10px #000;
}

.headerLinks {
    color: currentColor;
    list-style: none;
    text-align: right;
    position: fixed;
    right: 60px;
    top: 2.8rem;
    font-size: 20px;
    z-index: 2;


    & li {
        margin: .5rem 0;
        text-shadow: 0 0 20px #000;
        text-shadow: 0 0 5px #000;

    }

    & li:hover {
        transform: rotateX(360deg);
        transition: .5s;
    }
}

#socialLink1,
#socialLink2,
#socialLink3 {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 3rem;
    font-size: 25px;
    border-radius: 50%;
    color: rgb(170, 159, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    /* background-color: rgba(255, 0, 0, 0.271); */
    & i {
        position: fixed;
        left: 73px;
        transform: translate(-50%, -50%);
        transition: .3s;
    }
}

#socialLink3 {
    bottom: 6rem;

    & i {
        top: 618px;
    }
}

#socialLink2 {
    bottom: 9.5rem;

    & i {
        top: 562px;
    }
}

#socialLink1 {
    bottom: 13rem;

    & i {
        top: 505px;
    }
}

.home {
    width: 100%;
    height: 800px;
    align-content: center;
}

.homeContainer {
    text-align: center;
    align-content: center;
    color: rgb(170, 159, 145);
    margin: auto;
    margin-top: 6.5rem;
}

.name {
    word-spacing: 8px;
    letter-spacing: 5px;
    font-size: 16px;
    margin-bottom: 2rem;
}

.homeQ {
    font-size: 128px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: -8px;
    margin: auto;
    width: fit-content;
    /* background-color: red; */

    & span {
        white-space: nowrap;
        color: rgb(230, 88, 60);
    }
}

.aboutSec {
    /* background-color: red; */
    margin: 5rem 0;

    & .aboutContainer {
        /* width:0%; */
        padding: 0 15%;
        margin: auto;
        color: rgb(170, 159, 145);

        & .aboutTop {
            letter-spacing: 5px;
            margin-bottom: 2rem;
            font-size: 16px;
            text-align: center;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(170, 159, 145);

        }


    }
}

.aboutMain {
    font-size: 4.6rem;
    font-weight: 550;
    text-align: center;

    & span {
        white-space: nowrap;
        color: rgb(230, 88, 60);
    }
}

.projects {
    width: 100%;

    & .projectsContainer {
        /* background-color: red; */
        margin: 0 15%;
        align-content: center;
        color: rgb(170, 159, 145);

        & .projectsTop {
            letter-spacing: 5px;
            margin: 1rem 2rem;
            margin-bottom: 2rem;
            font-size: 25px;
            text-align: center;

        }

        & .projectsMain {
            display: flex;
            flex-direction: column;
            margin: 1rem 0rem;

        }
    }
}

.project {
    background-color: #000;
    border-radius: 1rem;
    border: .5px solid #fff5;
    padding: 1.5rem 2rem;
    display: flex;
    margin: 6rem 0;
    font-size: 20px;

    .projectIntro {
        display: none;

        & h3 {
            color: rgb(230, 88, 60);
            font-size: 30px;
        }
    }

    & .projectLeft {
        width: 100%;
        margin-right: 2rem;
        /* background-color: red; */
        position: relative;

        & h3,
        h4 {
            display: block;
        }

        & h3 {
            color: rgb(230, 88, 60);

        }

        & p {
            margin-top: 1rem;
            margin-bottom: 5rem;
            font-size: 2.5rem;
            font-weight: 550;
            line-height: 95%;

            & span {
                white-space: nowrap;
                color: rgb(230, 88, 60);
            }


        }

        & a {
            /* border: .5px solid antiquewhite; */
            padding: 8px 1rem;
            display: flex;
            width: fit-content;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgb(230, 88, 60);
            color: #000;
            font-weight: 500;
            border-radius: .3rem;
        }

        & a:hover {
            background-color: antiquewhite;
            color: rgb(230, 88, 60);

        }


        /* background-color: red; */
    }

}

.projectRight {
    display: flex;
    width: 22rem;
    height: 12.6rem;
    margin-top: 2rem;

    .projectRightImg {
        height: 100%;
        object-fit: cover;
    }
}

.connect {
    width: 100%;
    background-color: rgb(0, 0, 0);

    & .connectContainer {
        width: 70%;
        margin: 0 15%;
        /* height: 40vh; */
        align-content: center;
        margin: auto;
        color: rgb(170, 159, 145);
        padding: 2.5rem 4rem;

        &>h4 {
            letter-spacing: 5px;
            margin: 1rem 2rem;
            margin-bottom: 2rem;
            font-size: 16px;
        }


    }
}

.connectMain {
    display: flex;
    margin: 1rem 0rem;
    /* background-color: aqua; */

}

.footerTop {
    display: flex;
}

.left {
    width: 100%;
    margin-right: 3rem;

    & a {
        padding: .5rem 0;
        font-size: 26px;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: rgb(170, 159, 145);

        & span {
            display: flex;
            width: 10px;
            height: 10px;
            margin: 0 1rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            background-color: rgb(230, 88, 60);
        }

        &:hover {
            background-color: rgb(230, 88, 60);
            color: antiquewhite;

            & span {
                background-color: rgb(0, 0, 0);
            }
        }
    }
}

.right {
    width: 100%;

    .email,
    .phone {
        font-size: 16px;
        padding: 10px 0;
    }
}









/* ! ####################### Skills   */
/* Skills Section */
.skillsSec {
    width: 100%;
    margin: 150px 15%;

    & h4 {
        text-align: center;
        width: fit-content;
        letter-spacing: 5px;
        padding: 1rem 0;
        font-size: 16px;
        margin: auto;
        margin-bottom: 5rem;
        border-bottom: 1px solid rgb(170, 159, 145);
        color: rgb(170, 159, 145);
    }
}

.skillsContainer {
    margin: auto;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;

}

.langLogo {
    position: relative;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px #000;
    display: flex;
    border-radius: 25px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.langName {
    display: none;
    position: absolute;
    width: fit-content;
    top: -10px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 4px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #111111d0;
    border: .5px solid rgb(255, 255, 255);
    font-size: 16px;
    z-index: 1;
    text-align: center;

}

.langLogo:hover {
    & .langName {
        display: block;
    }
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.skill-grid img {
    width: 120px;
    border-radius: 25px;

}



/* !!!!Contact Section */
/* !!!!Contact Section */
/* !!!!Contact Section */
.contact {
    width: 100%;
    padding-bottom: 50px;
    margin: 30px 0;

}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    letter-spacing: 5px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin: 0 15%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;

}

.form-group input,
.form-group textarea {
    width: 70%;
    height: 45px;
    margin: 0 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.sectionBtn {
    display: block;
    width: 70%;
    margin: 0 15%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(230, 88, 60);
    color: #000000;

    &:hover {
        background-color: rgb(184, 60, 35);
    }

}


@media screen and (max-width:1200px) {
    html {
        font-size: 14px;
    }

    .project {
        flex-direction: column;
        text-align: justify;

        & .projectLeft {
            order: 1;

            & h3,
            h4 {
                display: none;
            }

            & p {
                margin-bottom: 8rem;
                font-size: 25px;

            }


        }

        & .projectIntro {
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }

    }

    .projectRight {
        margin: auto;
        width: 80%;
        height: 80%;
        margin-bottom: 30px;

        .projectRightImg {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width:950px) {
    html {
        font-size: 13px;
    }

    .homeQ {
        font-size: 100px;
    }



    .skill-grid {
        grid-template-columns: repeat(4, 1fr);

    }

    .connect {
        text-align: center;
    }

    .connectMain {
        flex-direction: column;

    }

    .left {
        & a {
            font-size: 20px;
        }
    }

    .right {
        margin-top: 30px;

        .email,
        .phone {
            font-size: 16px;
            padding: 10px 0;
        }
    }
}

@media screen and (max-width:750px) {
    html {
        font-size: 10px;
    }

    .homeQ {
        font-size: 85px;
        /* line-height: 90%; */
        /* letter-spacing: -4px; */
    }

    .langLogo {
        width: 70px;
        height: 70px;
    }

    .skill-grid {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (max-width:575px) {
    html {
        font-size: 8px;
    }

    .homeQ {
        font-size: 75px;
        line-height: 90%;
        letter-spacing: -4px;
    }

    .headerLinks {
        right: 30px;
        font-size: 20px;
    }

    #socialLink3 {
        bottom: 6rem;

        & i {
            top: 718px;
        }
    }

    #socialLink2 {
        bottom: 9.5rem;

        & i {
            top: 622px;
        }
    }

    #socialLink1 {
        bottom: 13rem;

        & i {
            top: 525px;
        }
    }

    #socialLink1,
    #socialLink2,
    #socialLink3 {
        font-size: 35px;

        & i {
            left: 35px;
        }
    }
}

@media screen and (max-width:480px) {
    html {
        font-size: 7px;
    }

    .homeQ {
        font-size: 65px;
        line-height: 90%;
        letter-spacing: -4px;
    }

    .left {
        & a {
            font-size: 16px;
        }
    }
}